* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: #1f1d1d;
}

@font-face {
  font-family: 'Discharge';
  src: url('../fonts/DISCHARGE_2.ttf');
}

@font-face {
  font-family: 'Punk Kid';
  src: url('../fonts/punk_kid.ttf');
}

.header {
  font-family: 'Discharge';
  color: red;
  text-align: center;
  letter-spacing: 5px;
}

.drum-machine {
  // font-family: 'Discharge';
  background-color: #4e1d1d;
  border-radius: 5px;
  padding: 30px;
  border: 2px solid #313440;
  color: #e0e0e0;
  max-width: 800px;
  margin: 0 auto;
}